<!DOCTYPE = html>
<html>
<head>
	<link href='/css/style.css' type="text/css" rel="stylesheet" />
	<link href="https://fonts.googleapis.com/css?family=Gochi+Hand" rel="stylesheet" /> 
	<script
	src="https://code.jquery.com/jquery-3.1.1.min.js"
	integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
	crossorigin="anonymous">
</script>
<script src='/js/inputCheck.js'></script>
</head>
<body>
	<h1>Todo</h1>
	<ul><li><a href="/users">Users</a></li>
		<li><a href="/todo">Todo</a></li>
		<li><a href="/users/add">Add user</a></li>
		<li><a href="/todo/add">Add todo</a></li>
	</ul>
	{% block content %}
	{% endblock %}
</body>
</html>