h1, h2 {
	text-align: center;
	text-decoration: underline;
}
ul {
	list-style: none;
}
li {
	list-style: none; 
	display: inline-block;
	border: 1px solid black;
	padding: 5px;
}
.formButton {
	display: inline-block;
}