// Colors
$color-primary: #c9cfd8;
$color-secondary: #181819;
$color-forms: #6e727a;
$color-form-border: #4a4b4c;

// Fonts
$font-primary: 1.2em 'Gochi Hand', cursive;
$font-secondary: 0.8em 'Gochi Hand', cursive;